common: &common
  # our public key
  airbrake_api_key: '3c6209710087bfb53bd9604040a9c6ef'
  abf_url: 'https://abf.io'
  file_store:
    url: 'http://file-store.rosalinux.ru/api/v1/file_stores'
    create_url: 'http://file-store.rosalinux.ru/api/v1/upload'
    token: 'token'
  scripts:
    mdv:
      path: 'https://abf.io/abf/mdv-scripts/archive/'
      treeish: mdv-scripts-lxc
      external_script: ''
    rhel:
      path: 'https://abf.io/abf/rhel-scripts/archive/'
      treeish: rhel-scripts-lxc
      external_script: ''
  max_workers_count: 2
  supported_platforms: 'platform1,platform2'
  supported_arches: 'x86_64,i586,armv7l,armv7hl'
  # log_server:
  #   host: 'host'
  #   port: 'port'

  # Only for ISO & Publish workers
  use_resque: false

  # Fix for DNS problems, configure proxy and etc
  vm_configs:
    - sudo /bin/bash -c 'echo "195.19.76.233 file-store.rosalinux.ru" >> /etc/hosts'
    - sudo /bin/bash -c 'echo "195.19.76.241 abf.rosalinux.ru" >> /etc/hosts'
    - sudo /bin/bash -c 'echo "195.19.76.241 abf.io" >> /etc/hosts'
    - sudo /bin/bash -c 'echo "export ABF_DOWNLOADS_PROXY=" >> /etc/profile'

development:
  <<: *common
  tmp_path: 'tmp_path'
  vms_path: 'vms_path'
  abf_api:
    url: 'http://0.0.0.0:3000/api/v1'
    token: 'token'
  vm:
    x86_64: 1024
    i586: 512
    cpus: 1

production:
  <<: *common
  tmp_path: 'tmp_path'
  vms_path: 'vms_path'
  abf_api:
    url: 'https://abf.io/api/v1'
    token: 'token'
  vm:
    x86_64: 8192
    i586: 4096
    cpus: 3

test:
  <<: *common
  tmp_path: 'tmp_path'
  vms_path: 'vms_path'
  abf_api:
    url: 'http://0.0.0.0:3000/api/v1'
    token: 'token'
  vm:
    x86_64: 512
    i586: 512
    cpus: 1