# <platform_type>:
#   default:
#     noarch: <sha1 of default box on File-Store>
#     noarch_hwaddr: 'eth0 HWADDR'
#     <arch_name>: <sha1 of box on File-Store>
#     <arch_name>_hwaddr: 'eth0 HWADDR'
#
#   platforms:
#     <platform_name>: 
#       noarch: <sha1 of default box on File-Store>
#       noarch_hwaddr: 'eth0 HWADDR'
#       <arch_name>: <sha1 of box on File-Store>
#       <arch_name>_hwaddr: 'eth0 HWADDR'

mdv:
  default:
    noarch: 163981bd2576e7a905d8cec0ca1938e2867945aef

  platforms:
    cooker: 
      noarch: 1af97d538b80ac669737f078a9a8a8939b2dd7dd
    openmandriva2013.0: 
      noarch: 1af97d538b80ac669737f078a9a8a8939b2dd7dd

rhel:
  default:
    noarch: 493c4b364debcd30d1de2be31d7e20bdc8fcd86b





