# <platform_type>:
#   default:
#     noarch: <sha1 of default box on File-Store>
#     noarch_hwaddr: 'eth0 HWADDR'
#     <arch_name>: <sha1 of box on File-Store>
#     <arch_name>_hwaddr: 'eth0 HWADDR'
#
#   platforms:
#     <platform_name>: 
#       noarch: <sha1 of default box on File-Store>
#       noarch_hwaddr: 'eth0 HWADDR'
#       <arch_name>: <sha1 of box on File-Store>
#       <arch_name>_hwaddr: 'eth0 HWADDR'

mdv:
  default:
    noarch: fa49c2b38cad787647a59ffa4241da18a1c66fdf

  platforms:
    cooker: 
      noarch: 9279a906131831c4681a021173b3a7cce2173b61
    openmandriva2013.0: 
      noarch: 9279a906131831c4681a021173b3a7cce2173b61
    openmandriva2014.0: 
      noarch: 9279a906131831c4681a021173b3a7cce2173b61

rhel:
  default:
    noarch: e487e0cd8a75be1a2b7762dfd2b627e51f37d58d





