# <platform_type>:
#   default:
#     noarch: <sha1 of default box on File-Store>
#     noarch_hwaddr: 'eth0 HWADDR'
#     <arch_name>: <sha1 of box on File-Store>
#     <arch_name>_hwaddr: 'eth0 HWADDR'
#
#   platforms:
#     <platform_name>: 
#       noarch: <sha1 of default box on File-Store>
#       noarch_hwaddr: 'eth0 HWADDR'
#       <arch_name>: <sha1 of box on File-Store>
#       <arch_name>_hwaddr: 'eth0 HWADDR'

mdv:
  default:
    noarch: fef16990fc7f6b743c7cf821ee87b6ae971ed82e

  # platforms:
  #   cooker: 
  #     noarch: 696ddad0a43c364e406388f7538af130d602d7fa
  #   openmandriva2013.0: 
  #     noarch: 696ddad0a43c364e406388f7538af130d602d7fa

rhel:
  default:
    noarch: ed0d2df73419704d5a625c482c11aad0005a5d84





